<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/layouts/STU-AUTH.html}">

<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <style>
        .cursor-pointer {
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <section class="mb-5">
            <div class="container" style="padding-top: 80px;">
                <div class="row gx-2">
                    <div class="col-md-9 col-sm-12">
                        <div class="row gx-2">
                            <video width="200" controls id="video">
                                <source
                                    th:src="@{/resources/courses/}+${course.name}+@{/}+${course.modules.get(0).name}+@{/videos/}+${course.modules.get(0).videos.get(0).name}"
                                    type="video/mp4" id="courseVideo">
                            </video>
                            <div class="col mt-3">
                                <div>
                                    <div id="mytag">
                                        <ul>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#comments-tab">Comments</a>
                                            </li>
                                            <li class="nav-item d-sm-block d-md-none">
                                                <a class="nav-link" data-toggle="tab" href="#video-tab">Videos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#resource-tab">Resource</a>
                                            </li>
                                        </ul>
                                        <div id="comments-tab">
                                            <!-- comment section -->
                                            <section class="bg-white">
                                                <h5 class="text-muted">Class comments</h5>
                                                <div class="card border-0">
                                                    <!--card-->
                                                    <div class="card-body">
                                                        <div class="d-flex flex-start align-items-center">
                                                            <img class="rounded-circle shadow-1-strong me-3"
                                                                src="https://i.pinimg.com/originals/3d/66/78/3d667893c5788613ff3590ca218a9cb2.jpg"
                                                                alt="avatar" width="60" height="60" />
                                                            <div>
                                                                <h6 class="fw-bold text-primary mb-1">Phyu Phyu Thin
                                                                </h6>
                                                                <p class="text-muted small mb-0">
                                                                    Jan 2020
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="mt-3 mb-4 pb-2">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                            do
                                                            eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                            ad
                                                            minim veniam,
                                                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                            consequat.
                                                        </p>
                                                    </div>
                                                    <!--card-->

                                                    <div class="card-footer py-3 border-0"
                                                        style="background-color: #f8f9fa;">
                                                        <div class="d-flex flex-start w-100">
                                                            <img class="rounded-circle shadow-1-strong me-3"
                                                                src="https://i.pinimg.com/474x/eb/d2/2e/ebd22e59d2788984176c91d24e2f855d.jpg"
                                                                alt="avatar" width="40" height="40" />
                                                            <div class="form-outline w-100">
                                                                <textarea class="form-control" id="textAreaExample"
                                                                    rows="4" style="background: #fff; resize: none;"
                                                                    placeholder="Post Comments ....."></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="float-end mt-2 pt-1">
                                                            <button type="button"
                                                                class="btn btn-primary btn-sm">comment</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </section>
                                            <!-- comment section -->
                                        </div>

                                        <div id="video-tab">
                                            <div class="accordion" id="accordionPanelsStayOpenExample"
                                                th:each="module : ${course.modules}">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header"
                                                        th:attr="id='panelsStayOpen-'+${module.id}">
                                                        <button class="accordion-button p-3" type="button"
                                                            data-bs-toggle="collapse"
                                                            th:data-bs-target="'#panelsStayOpen-'+${module.name}"
                                                            aria-expanded="true"
                                                            th:aria-controls="'panelsStayOpen-'+${module.name}">
                                                            [[${module.name}]]
                                                        </button>
                                                    </h2>
                                                    <div th:attr="id='panelsStayOpen-'+${module.name}"
                                                        class="accordion-collapse collapse show w-100"
                                                        style="border-bottom: 0.5px solid rgb(160, 157, 157);"
                                                        th:aria-labelledby="'panelsStayOpen-'+${module.id}"
                                                        th:each="video : ${module.videos}">
                                                        <div th:onclick="changeVideo([[${course.name}]], [[${module.name}]], [[${video.name}]])"
                                                            class="accordion-body p-3 bg-light cursor-pointer">
                                                            [[${video.name}]]</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="resource-tab">
                                            <div class="accordion" id="accordionPanelsStayOpenExample2"
                                                th:each="module, row : ${course.modules}">
                                                <div class="accordion-item">
                                                    <h5 class="accordion-header"
                                                        th:attr="id='panelsStayOpen-'+${row.index * (-2)}">
                                                        <button class="accordion-button p-3" type="button"
                                                            data-bs-toggle="collapse"
                                                            th:data-bs-target="'#panelsStayOpen-'+${row.index * (-1)}"
                                                            aria-expanded="true"
                                                            th:aria-controls="'panelsStayOpen-'+${row.index * (-1)}">
                                                            [[${module.name}]]
                                                        </button>
                                                    </h5>
                                                    <div th:attr="id='panelsStayOpen-'+${row.index * (-1)}"
                                                        class="accordion-collapse collapse show w-100"
                                                        style="border-bottom: 0.5px solid rgb(160, 157, 157);"
                                                        th:aria-labelledby="'panelsStayOpen-'+${row.index * (-2)}"
                                                        th:each="resource : ${module.resources}">
                                                        <div class="accordion-body p-3 bg-light cursor-pointer">
                                                            <a target="_blank"
                                                                th:href="@{/resources/courses/}+${course.name}+@{/}+${module.name}+@{/resources/}+${resource.name}">[[${resource.name}]]</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-2 d-sm-none d-md-block">
                        <!-- To Do Video -->
                        <div class="accordion" id="accordionPanelsStayOpenExample" th:each="module : ${course.modules}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" th:attr="id='panelsStayOpen-'+${module.id}">
                                    <button class="accordion-button p-3" type="button" data-bs-toggle="collapse"
                                        th:data-bs-target="'#panelsStayOpen-'+${module.name}" aria-expanded="true"
                                        th:aria-controls="'panelsStayOpen-'+${module.name}">
                                        [[${module.name}]]
                                    </button>
                                </h2>
                                <div th:attr="id='panelsStayOpen-'+${module.name}"
                                    class="accordion-collapse collapse show w-100"
                                    style="border-bottom: 0.5px solid rgb(160, 157, 157);"
                                    th:aria-labelledby="'panelsStayOpen-'+${module.id}"
                                    th:each="video : ${module.videos}">
                                    <div th:onclick="changeVideo([[${course.name}]], [[${module.name}]], [[${video.name}]])"
                                        class="accordion-body p-3 bg-light cursor-pointer">
                                        [[${video.name}]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#mytag").tabs();
            });

            const changeVideo = (cname, mname, vname) => {
                console.log("working");
                document.getElementById("courseVideo").src = `http://localhost:9090/resources/courses/${cname}/${mname}/videos/${vname}`
                document.getElementById("video").load()
            }
        </script>
    </div>
</body>

</html>