<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/layouts/STU-AUTH.html}">

<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <div class="container mt-5 pt-5">
            <nav aria-label="breadcrumb" class="d-flex justify-content-start mb-2">
                <ol class="breadcrumb text-capitalize">
                    <li class="breadcrumb-item"><a th:href="@{/student/home}">dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/student/assignment-list}">assignment-list</a></li>
                    <li class="breadcrumb-item active" aria-current="page">assignment-view</li>
                </ol>
            </nav>
            <div class="row" th:if="${answer == null}">
                <div class="col-sm-12 col-md-9">
                    <h3 class="fw-bolder">
                        <i class="bi bi-journal-text me-2"></i>[[${assignment.title}]]
                    </h3>
                    <span class="text-muted">[[${#temporals.format(assignment.start, 'yyyy-MM-dd hh:mm a')}]]</span>
                    <p style="color: rgb(71, 68, 68)" class="d-flex justify-content-between align-items-center mt-2">
                        <span>[[${assignment.mark}]]
                            points</span><span>Due
                            [[${#temporals.format(assignment.end,
                            'yyyy-MM-dd hh:mm
                            a')}]]</span>
                    </p>
                    <hr />
                    <a th:href="@{/resources/assignment/}+${assignment.batch.name}+@{/}+${assignment.file}"
                        class="border rounded-3 w-50 h-25 d-flex align-items-center py-3 px-4 shadow text-decoration-none text-black"
                        style="cursor: pointer;" th:unless="${#strings.isEmpty(assignment.file)}">
                        <h1><i class="bi bi-file-earmark-text me-3"></i></h1>
                        <p>[[${assignment.file}]]</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card shadow rounded">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 style="margin-bottom: 0; color: rgb(71, 68, 68)">
                                    Your work
                                </h4>
                                <span class="text-success">Assign</span>
                            </div>
                            <form th:action="@{/student/assignment-submit}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${param.id}">
                                <input type="file" class="form-control mb-2" name="file" id="file" />
                                <button class="btn btn-dark w-100" type="submit">Mark As Done</button>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow rounded mt-3" id="app" style="height: 350px;overflow: scroll;"
                        th:if="${assignment.assignmentAnswers.size() > 0}">
                        <div class="card-body" style="height: 200px;">
                            <p style="color: rgb(71, 68, 68)" class="ms-1">
                                <i class="fas fa-user me-2"></i>Private Comments
                            </p>
                            <input class="d-none" type="hidden" id="assignmentId" th:value="${assignment.id}"></input>
                            <textarea cols="30" rows="10" style="max-height: 100px; resize: none;"
                                placeholder="Add private comment ..." class="form-control" id="textBox"></textarea>
                            <button class="btn btn-dark mt-2 btn-sm float float-end" @click="comment">
                                Comment
                            </button>
                        </div>
                        <hr>
                        <div class="p-2 d-flex align-items-center bg-light" v-for="m in messages"
                            style="border-bottom: 0.5px solid rgb(191, 189, 189);">
                            <img :src="'http://localhost:9090/resources/profile/'+m.user.photo" width="50px"
                                class="me-3" alt="">
                            <div class="">
                                <span style="font-size: 12px;">{{m.user.name}}</span>
                                <p>{{m.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${answer != null}">
                <div class="d-flex flex-column align-items-center justify-content-between" style="height: 400px;">
                    <h3>You already submitted this exam!
                        Mark [[${answer.mark}]] / [[${assignment.mark }]]</h3>
                    <img th:src="@{/resources/assets/logo/complete.svg}" alt="complete" height="400">
                </div>
            </div>

        </div>
        <!-- <script>
            // Get a reference to the file input element
            const inputElement = document.querySelector('input[type="file"]');

            // Create a FilePond instance
            const pond = FilePond.create(inputElement);
            document.addEventListener("DOMContentLoaded", () => {
                document.querySelector(".filepond--credits").removeAttribute("class")
            })
        </script> -->

        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    messages: [],
                    newMessage: {}
                },
                methods: {
                    comment(assignmentId) {
                        axios.post('http://localhost:9090/student/private-comment', {
                            comment: document.getElementById("textBox").value,
                            assignmentId: document.getElementById("assignmentId").value
                        }).then(function (response) {
                            that.messages = [response.data, ...that.messages]
                            document.getElementById("textBox").value = ""
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                },
                async created() {
                    window.that = this;
                    await axios.get('http://localhost:9090/student/private-messages', {
                        params: {
                            assignmentId: document.getElementById("assignmentId").value
                        }
                    }).then(function (response) {
                        console.log(response.data);
                        that.messages = response.data;
                    });
                },
            })
        </script>
    </div>

    </div>
</body>

</html>