<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layouts/STU-AUTH.html}">

<head>
  <meta charset="UTF-8">
  <title>Course</title>
</head>

<body class="bg-light">
  <div layout:fragment="content">
    <section>
      <div class="container" style="padding-top: 100px;">
        <nav aria-label="breadcrumb" class="d-flex justify-content-start">
          <ol class="breadcrumb text-capitalize">
            <li class="breadcrumb-item"><a th:href="@{/student/home}">dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">exam-list</li>
          </ol>
        </nav>
        <p th:text="${message}" class="d-none alert alert-success" id="message"></p>
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">Post Date</th>
              <th scope="col">Task</th>
              <th scope="col">Due Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-capitalize" th:each="a : ${assignments}">
              <td>
                <span>[[${#temporals.format(a.start, 'yyyy-MM-dd hh:mm a')}]]</span>
              </td>
              <td class="align-middle">
                <span>[[${a.title}]]</span>
              </td>
              <td class="align-middle">
                <h6 class="mb-0"><span class="badge bg-primary">[[${#temporals.format(a.end, 'yyyy-MM-dd hh:mm
                    a')}]]</span></h6>
              </td>
              <td class="align-middle">
                <a th:href="@{/student/assignment-detail?id=}+${a.id}" class="text-decoration-none">view assignment</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <script>
      let message = document.getElementById('message');
      if (message !== null && message.innerText !== "") {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 2000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message.innerText
        })
      }
    </script>
  </div>
</body>

</html>