<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layouts/STU-AUTH.html}">
<head>
  <meta charset="UTF-8">
  <title>Course</title>
</head>
<body class="bg-light overflow-hidden">
<div layout:fragment="content">
  <section class="mt-5 pt-4">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 text-center">
          <div class="d-flex align-items-top justify-content-center">
            <img th:src="@{/resources/profile/}+${user.photo}" class="shadow bg-body rounded-circle" width="80" height="80px" alt="profile" id="profile">
            <i class="bi bi-pencil-square" id="photo"></i>
          </div>
          <form th:action="@{/student/profile-change}" enctype="multipart/form-data" class="d-none" id="profileForm" method="post">
            <input type="file" class="d-none" name="photo" id="profileInput" accept="image/png, image/jpeg">
          </form>
          <h3 class="fs-4 lead mt-2">Welcome, [[${user.name}]]</h3>
          <p class="text-muted">Manage your info, privacy, and security to make work better for you.</p>

        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-md-8 col-sm-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="row gx-2 align-items-center">
                  <div class="col-md-6 col-sm-12">
                    <h4 class=""><i class="fas fa-user-check me-2"></i>User Infomation</h4>
                    <div class="text-muted mt-4">
                      <p class="mb-3"><i
                              class="fas fa-check text-success me-2"></i>ID: [[${user.loginId}]]</p>
                      <p class="mb-3"><i
                              class="fas fa-check text-success me-2"></i>Email: <span th:text="${#strings.toLowerCase(user.email)}"></span></p>
                      <p class="mb-3"><i
                              class="fas fa-check text-success me-2"></i>Role: [[${user.role}]]</p>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <span th:if="${message}" class="alert alert-success d-none" id="message">[[${message}]]</span>
                    <h5><i class="fas fa-key me-2"></i>Change Password</h5>
                    <form th:action="@{/student/change-password}" method="post">
                      <div class="form-group mb-2">
                        <label class="form-label">Old Password</label>
                        <input type="password" name="oldPassword" class="form-control"
                               placeholder="Enter Old Password" th:value="${oldPassword}">
                        <span th:if="${oldPasswordError}" class="text-danger">[[${oldPasswordError}]]</span>
                      </div>
                      <div class="form-group mb-2">
                        <label class="form-label">New Password</label>
                        <input type="password" name="newPassword" class="form-control"
                               placeholder="Enter New Password" th:value="${newPassword}">
                      </div>
                      <span th:if="${newPasswordError}" class="text-danger">[[${newPasswordError}]]</span>
                      <div class="form-group d-grid">
                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
      var message = document.getElementById("message");
      if(message !== null){
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: message.innerText
        })
      }

      document.getElementById("photo").addEventListener("click", ()=>{
        document.getElementById("profileInput").click()
      })

      document.getElementById("profileInput").addEventListener("change", (e)=>{
        const reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onload = () => {
          const preview = document.getElementById('profile');
          preview.src = reader.result;
        };

        let file = e.target.files[0]
        let formData = new FormData();
        formData.append("profile", file);
        axios.post('http://localhost:9090/student/profile-change', formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      })
  </script>
</div>
</body>
</html>