<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/AUTHENTICATED.html}">

<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <div class="container mt-5 pt-3">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <h3 class="fw-bolder">
                        <i class="fas fa-file-alt me-3"></i>[[${assignmentAnswer.assignment.title}]]
                    </h3>
                    <span class="text-muted">[[${#temporals.format(assignmentAnswer.assignment.start, 'yyyy-MM-dd
                        hh:mm a')}]]</span>
                    <p style="color: rgb(71, 68, 68)" class="d-flex justify-content-between align-items-center mt-2">
                        <span>[[${assignmentAnswer.assignment.mark}]] points</span><span>Due
                            [[${#temporals.format(assignmentAnswer.assignment.end,
                            'yyyy-MM-dd hh:mm
                            a')}]]</span>
                    </p>
                    <hr />
                    <a th:href="@{/resources/assignmentAnswer/}+${assignmentAnswer.answer}"
                        class="border rounded-3 w-50 h-25 d-flex align-items-center py-5 px-3 shadow text-decoration-none text-black"
                        style="cursor: pointer;">
                        <h1><i class="bi bi-file-earmark-text me-3"></i></h1>
                        <p>[[${assignmentAnswer.answer}]]</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card shadow rounded">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5 style="margin-bottom: 0; color: rgb(71, 68, 68);" class="text-nowrap">
                                    [[${assignmentAnswer.user.name}]]
                                </h5>
                            </div>
                            <form th:action="@{/student/assignment-submit}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${param.id}">
                                <label for="mark">Give mark</label>
                                <input type="number" class="form-control mb-2" name="mark" id="mark"
                                    placeholder="100" />
                                <button class="btn btn-dark w-100" type="submit">Mark As Done</button>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow rounded mt-3">
                        <div class="card-body p-4">
                            <p style="color: rgb(71, 68, 68)" class="ms-1">
                                <i class="fas fa-user me-2"></i>Private Comments
                            </p>
                            <textarea name="" cols="30" rows="10" style="max-height: 100px; height: 70px"
                                placeholder="Add private comment ..." class="form-control"></textarea>
                            <button class="btn btn-dark mt-2 btn-sm float float-end">
                                Comment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</body>

</html>