<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/AUTHENTICATED-TEACHER.html}">

<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <div class="container pt-3">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <h3 class="fw-bolder">
                        <i class="fas fa-file-alt me-3"></i>[[${assignmentAnswer.assignment.title}]]
                    </h3>
                    <span class="text-muted">[[${#temporals.format(assignmentAnswer.assignment.start, 'yyyy-MM-dd
                        hh:mm a')}]]</span>
                    <p style="color: rgb(71, 68, 68)" class="d-flex justify-content-between align-items-center mt-2">
                        <span>[[${assignmentAnswer.assignment.mark}]] points</span><span>Due
                            [[${#temporals.format(assignmentAnswer.assignment.end,
                            'yyyy-MM-dd hh:mm
                            a')}]]</span>
                    </p>
                    <hr />
                    <a th:href="@{/resources/assignmentAnswer/}+${assignmentAnswer.answer}"
                        class="border rounded-3 w-50 d-flex align-items-center py-5 px-3 shadow text-decoration-none text-black"
                        style="cursor: pointer;height: 100px;">
                        <h1><i class="bi bi-file-earmark-text me-3"></i></h1>
                        <p>[[${assignmentAnswer.answer}]]</p>
                    </a>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card shadow rounded">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5 style="margin-bottom: 0; color: rgb(71, 68, 68);" class="text-nowrap">
                                    [[${assignmentAnswer.user.name}]]
                                </h5>
                            </div>
                            <form th:action="@{/teacher/assignment-check}" method="post">
                                <input type="hidden" name="id" th:value="${param.id}">
                                <label for="mark">Give mark</label>
                                <input type="number" class="form-control mb-2" name="mark" id="mark"
                                    placeholder="100" />
                                <span th:if="${markError}" class="text-danger">[[${markError}]]</span>
                                <button class="btn btn-dark w-100" type="submit">Mark As Done</button>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow rounded mt-3" id="app" style="height: 350px;overflow: scroll;">
                        <div class="card-body" style="height: 165px;">
                            <p style="color: rgb(71, 68, 68)" class="ms-1">
                                <i class="fas fa-user me-2"></i>Private Comments
                            </p>
                            <span class="d-none alert alert-success" id="successMessage">[[${message}]]</span>
                            <input class="d-none" type="hidden" id="assignmentId"
                                th:value="${assignmentAnswer.id}"></input>
                            <textarea cols="30" rows="10" style="max-height: 100px; resize: none;"
                                placeholder="Add private comment ..." class="form-control" id="textBox"
                                v-model="privateComment"></textarea>
                            <button type="button" class="btn btn-dark mt-2 btn-sm float float-end" @click="comment"
                                :disabled="privateComment.trim().length === 0">comment</button>
                        </div>
                        <hr>
                        <div class="p-2 d-flex align-items-center bg-light" v-for="m in messages"
                            style="border-bottom: 0.5px solid rgb(191, 189, 189);">
                            <img :src="'http://localhost:9090/resources/profile/'+m.user.photo" width="40" height="40"
                                class="me-3 rounded-circle" alt="">
                            <div class="">
                                <span style="font-size: 12px;" class="me-2">{{m.user.name}}</span><span
                                    class="text-danger" v-if="m.user.loginId == user.loginId" style="cursor: pointer;"
                                    @click="deleteComment(m.id)"><i class="bi bi-trash-fill"></i></span>
                                <p>{{m.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let message = document.getElementById('successMessage');
            if (message !== null && message.innerText !== "") {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: message.innerText
                })
            }

            const app = new Vue({
                el: '#app',
                data: {
                    messages: [],
                    newMessage: {},
                    user: {},
                    privateComment: ""
                },
                methods: {
                    comment(assignmentId) {
                        axios.post('http://localhost:9090/teacher/private-comment', {
                            comment: document.getElementById("textBox").value,
                            assignmentId: document.getElementById("assignmentId").value
                        }).then(function (response) {
                            that.messages = [response.data, ...that.messages]
                            document.getElementById("textBox").value = ""
                        }).catch(function (error) {
                            console.log(error);
                        });
                    },
                    getLoginUser() {
                        return fetch('http://localhost:9090/teacher/chat/user')
                            .then((res) => res.json())
                            .then((data) => {
                                this.user = data
                            })
                    },
                    deleteComment(commentId) {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location = `http://localhost:9090/teacher/delete-private-comment?commentId=${commentId}`
                            }
                        })
                    },
                },
                async created() {
                    window.that = this;
                    this.getLoginUser();
                    await axios.get('http://localhost:9090/teacher/private-messages', {
                        params: {
                            assignmentId: document.getElementById("assignmentId").value
                        }
                    }).then(function (response) {
                        console.log(response.data);
                        that.messages = response.data;
                    });
                },
            })
        </script>
    </div>
</body>

</html>