<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/AUTHENTICATED-TEACHER.html}">

<head>
    <meta charset="UTF-8">
    <title>Attendance Create</title>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <section class="container mb-3">
            <div class="row paddings">
                <div class="container bg-light shadow p-3 mt-4 rounded">
                    <div class="text-center mb-4">
                        <h2 style="color:darkblue; font-weight: bold;" class="mb-3"><i
                                class="fas fa-user-friends me-2"></i>
                            Create Attendance for [[${batch.name}]]
                        </h2>
                    </div>

                    <div>
                        <form th:action="@{'/save-attendance/'+${batch.id}}" th:object="${attendance}" method="post">
                            <!-- Attendence start here-->
                            <div class="attendance-list" id="attendance-tab">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="d-none" th:text="${error}" th:if="${error} != null"
                                            id="successMessage"></p>
                                        <input type="date" th:field="*{date}" name="date" class="form-control me-2"
                                            th:required="true">
                                    </div>
                                    <div>
                                        <button class="btn btn-success" type="submit">Save<i
                                                class="bi bi-download ms-2"></i></button>
                                        <a th:href="@{/teacher/batch-detail?batchId=1#attendance-tab}"
                                            class="btn btn-info text-light">Batch Details</a>
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-striped display" id="attendTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Student Id</th>
                                            <th>Student Name</th>
                                            <th>Attendance Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="student, row : ${students}">
                                            <td>[[${row.index}+1]]</td>
                                            <td>[[${student.loginId}]]</td>
                                            <td>[[${student.name}]]</td>
                                            <td>
                                                <select class="form-select" th:required="true" id="attendanceStatus"
                                                    th:field="*{status}">
                                                    <option th:value="Present">Present</option>
                                                    <option th:value="Absent">Absent</option>
                                                    <option th:value="Leave">Leave</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Attendance end here -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script>
            let message = document.getElementById('successMessage');
            if (message !== null && message.innerText !== "") {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'error',
                    title: message.innerText
                })
            }
            $(document).ready(function () {
                $('#attendTable').DataTable();
            });
        </script>
    </div>
</body>

</html>