<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/AUTHENTICATED.html}">
<head>
  <meta charset="UTF-8">
  <title>Batch List</title>
</head>
<body class="bg-light">
<div layout:fragment="content">
  <div class="container p-3 mt-5">
    <div class="">
      <h3 class="text-decoration-none text-center">
        Batch List
      </h3>
    </div>
    <div class="card mt-4">
      <div class="card-body shadow p-3">
        <table id="batchTable" class="table table-striped table-hovered">
          <thead>
          <tr>
            <th>No</th>
            <th>Batch Name</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th class="text-end"></th>
          </tr>
          </thead>
          <tbody id="app">
          <tr th:each="batch : ${batches}" style="vertical-align: middle">
            <td th:text="${batch.id}"></td>
            <td th:text="${batch.name}"></td>
            <td th:text="${batch.course.name}"></td>
            <td th:text="${batch.startDate}"></td>
            <td th:text="${batch.endDate}"></td>
            <td th:text="${batch.close} ? 'Suspend' : 'Active'"></td>
            <td class="text-end">
              <a th:href="@{/teacher/batch-detail?batchId=}+${batch.id}" class="btn btn-secondary">Detail</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>