<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/AUTHENTICATED-TEACHER.html}">

<head>
    <meta charset="UTF-8">
    <title>Batch List</title>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <section class="container mb-3">
            <div class="row paddings">
                <div class="">
                    <div class="text-center">
                        <h2 style="font-weight: bold;" class="mb-3 text-black"><i
                                class="fas fa-user-friends me-2"></i>Welcome
                            To
                            [[${batch.name}]]
                        </h2>
                    </div>

                    <div>
                        <div id="mytag">
                            <ul class="nav nav-pills bg-nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#student-tab">Student</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#exam-tab">Exam</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" aria-current="page"
                                        href="#assignment-tab">Assignment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" aria-current="page"
                                        href="#schedule-tab">Schedule</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" aria-current="page"
                                        href="#attendance-tab">Attendance</a>
                                </li>
                            </ul>

                            <!-- Student start here -->
                            <div id="student-tab">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-2">
                                        <h4>Student List</h4>
                                    </div>
                                </div>
                                <hr>

                                <table class="table table-striped display" id="student">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="student, row : ${students}">
                                            <td>[[${row.index}+1]]</td>
                                            <td>[[${student.loginId}]]</td>
                                            <td>[[${student.name}]]</td>
                                            <td>[[${student.email}]]</td>
                                            <td th:text="${student.active} ? 'Active' : 'Suspend'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Student end here -->

                            <!-- Exam start here -->
                            <div class="exam-list" id="exam-tab">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div>
                                        <h4>Exam List</h4>
                                    </div>

                                </div>
                                <hr>
                                <table class="table table-striped display" id="exam">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Full Mark</th>
                                            <th scope="col">Start Time</th>
                                            <th scope="col">End Time</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="e, row : ${batchHasExam}" style="vertical-align: middle;">
                                            <th>[[${row.index} + 1]]</th>
                                            <td>[[${e.exam.title}]]</td>
                                            <td>[[${e.exam.fullmark}]]</td>
                                            <form th:action="@{/teacher/exam-schedule}"
                                                th:id="examSchedule+${e.exam.id}" method="post">
                                                <td>
                                                    <input type="datetime-local" name="start"
                                                        th:classappend="${e.start} != null ? 'd-none disabled' : ''"
                                                        class="form-control">
                                                    <span th:if="${e.start} != null">[[${e.start}]]</span>
                                                </td>
                                                <td>
                                                    <input type="datetime-local"
                                                        th:classappend="${e.end} != null ? 'd-none disabled' : ''"
                                                        class="form-control" name="end">
                                                    <span th:if="${e.end} != null">[[${e.end}]]</span>
                                                </td>
                                                <input type="hidden" name="batchId" th:value="${batch.id}">
                                                <input type="hidden" name="examId" th:value="${e.exam.id}">
                                            </form>
                                            <td>
                                                <button type="submit" th:if="${e.end == null && e.start == null}"
                                                    class="btn btn-primary" th:form="examSchedule+${e.exam.id}">
                                                    Schedule
                                                </button>
                                                <button th:if="${e.end != null && e.start != null}" type="button"
                                                    class="btn btn-warning" data-bs-toggle="modal"
                                                    th:data-bs-target="'#staticBackdrop'+${e.exam.id}">
                                                    Edit
                                                </button>
                                                <div th:if="${e.end != null && e.start != null}" class="modal fade"
                                                    th:id="'staticBackdrop' +${e.exam.id}" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">
                                                                    Edit Exam Date for [[${batch.name}]]
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/teacher/exam-schedule}"
                                                                    th:id="editExamSchedule+${e.exam.id}" method="post">
                                                                    <input type="hidden" name="batchId"
                                                                        th:value="${batch.id}">
                                                                    <input type="hidden" name="examId"
                                                                        th:value="${e.exam.id}">
                                                                    <label for="start">Start Time</label>
                                                                    <input type="datetime-local" class="form-control"
                                                                        th:value="${e.start}" name="start">
                                                                    <label for="end" class="mt-3">End Time</label>
                                                                    <input type="datetime-local" class="form-control"
                                                                        th:value="${e.end}" name="end">
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary"
                                                                    th:form="editExamSchedule+${e.exam.id}">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Exam end here -->


                            <!-- Assignment start here -->
                            <div id="assignment-tab">
                                <table class="table display" id="assignment">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Student</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Mark</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="a, row : ${assignmentAnswers}">
                                            <td>[[${row.index} + 1]]</td>
                                            <td>[[${a.user.name}]]</td>
                                            <td>[[${a.assignment.title}]]</td>
                                            <td>Hand in</td>
                                            <td>[[${a.mark}]]</td>
                                            <td><a th:href="@{/teacher/assignment-detail?id=}+${a.id}"
                                                    class="btn btn-outline-info btn-sm">Details<i
                                                        class="fas fa-angle-double-right ms-2"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Assignment end here -->

                            <!-- Schedule start here -->
                            <div id="schedule-tab">
                                <div class="add-schedule d-flex justify-content-between mb-2">
                                    <div>
                                        <h4>Schedule</h4>
                                        <p class="alert alert-success d-none" id="scheduleMessage">[[${message}]]</p>
                                    </div>
                                </div>
                                <hr>
                                <table class="table display text-center" id="schedule">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Module Name</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="m, row : ${modules}"
                                            style="vertical-align: middle;text-align: left;">
                                            <td>[[${row.index}+1]]</td>
                                            <td>[[${m.name}]]</td>
                                            <form th:action="@{/teacher/schedule-create}" method="post">
                                                <td>
                                                    <input type="date" class="form-control" name="date"
                                                        th:classappend="${m.schedule} != null ? 'd-none disabled' : ''"
                                                        th:required="true">
                                                    <span th:if="${m.schedule} != null">[[${m.schedule.date}]]</span>
                                                    <span class="text-danger"
                                                        th:if="${dateError} != null">[[${dateError}]]</span>
                                                </td>
                                                <td>
                                                    <input type="hidden" name="moduleId" th:value="${m.id}">
                                                    <input type="hidden" name="batchId" th:value="${batch.id}">
                                                    <input th:if="${m.schedule} == null" type="submit"
                                                        class="btn btn-primary" value="Save" />
                                                    <button th:if="${m.schedule} != null" type="button"
                                                        class="btn btn-warning" data-bs-toggle="modal"
                                                        th:data-bs-target="'#staticBackdrop'+${m.schedule.id}">
                                                        Edit
                                                    </button>

                                                </td>
                                            </form>
                                            <div th:if="${m.schedule} != null" class="modal fade"
                                                th:id="'staticBackdrop' +${m.schedule.id}" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <form th:action="@{/teacher/schedule-create}" method="post">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">
                                                                    Edit Schedule Date for [[${m.name}]]
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <input type="date" class="form-control" name="date"
                                                                    th:required="true"
                                                                    th:value="${#temporals.format(m.schedule.date, 'yyyy-MM-dd')}">
                                                                <input type="hidden" name="moduleId" th:value="${m.id}">
                                                                <input type="hidden" name="batchId"
                                                                    th:value="${batch.id}">
                                                                <input type="hidden" name="id"
                                                                    th:value="${m.schedule.id}">

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Update</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Schedule end here -->

                            <!-- Attendence start here-->
                            <div class="attendance-list" id="attendance-tab">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h4>Attendance</h4>
                                    </div>
                                    <div>
                                        <a type="button" th:href="@{/teacher/createAttendance?batchId=}+${batch.id}"
                                            class="btn btn-secondary mb-3">Create</a>
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-striped display" id="attendTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Student Id</th>
                                            <th>Student Name</th>
                                            <th>Date</th>
                                            <th>Attendance Status</th>
                                            <th>Batch</th>
                                            <th>..</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="a, row : ${attendance}">
                                            <td>[[${row.index} + 1]]</td>
                                            <td>[[${a.user.loginId}]]</td>
                                            <td>[[${a.user.name}]]</td>
                                            <td>[[${#temporals.format(a.date, 'yyyy-MM-dd')}]]</td>
                                            <td
                                                th:class="${#strings.equals(a.status, 'Present') ? 'text-success' : #strings.equals(a.status, 'Absent') ? 'text-danger' : 'text-warning'}">
                                                [[${a.status}]]</td>
                                            <td>[[${a.batch.name}]]</td>
                                            <td><a th:href="@{/setupEditAttendance(loginId=${a.user.loginId}, batchId=${param.batchId}, date=${a.date})}" class="btn btn-primary btn-sm text-light"><i class="bi bi-pencil-square"></i></a>
                                                <a th:href="@{/deleteAttendance(loginId=${a.user.loginId}, batchId=${param.batchId})}" class="btn btn-danger btn-sm text-light"><i class="bi bi-trash-fill"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Attendence end here -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <script>
            let message = document.getElementById('scheduleMessage');
            if (message !== null && message.innerText !== "") {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: message.innerText
                })
            }

            $(document).ready(function () {
                $("#mytag").tabs();
                // DataTable
                $('#student').DataTable();
                $('#exam').DataTable();
                $('#assignment').DataTable();
                $('#schedule').DataTable();
                $('#attendTable').DataTable();
            });
        </script>
    </div>
</body>

</html>