<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/AUTHENTICATED.html}">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        .cardhovers {
            transition: transform 0.2s;
        }

        .cardhovers:hover {
            transform: translateY(-4px);
        }
    </style>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <section>
            <div class="container">
                <div class="row ms-3 gx-1">
                    <div class="col-md-3 col-sm-12 mb-3">
                        <a th:href="@{/admin/course-list}" class="text-white text-decoration-none">
                            <div class="card bg-danger px-2 py-3 cardhovers">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <span class="h4" style="margin-bottom: 0;"><i
                                            class="bi bi-book me-2"></i>Courses</span>
                                    <p style="margin-bottom: 0;">Total : [[${courseCount}]]</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <a th:href="@{/admin/batch-list}" class="text-white text-decoration-none">
                            <div class="card bg-success px-2 py-3 cardhovers">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <span class="h4" style="margin-bottom: 0;"><i
                                            class="bi bi-journal-bookmark me-2"></i>Batches</span>
                                    <p style="margin-bottom: 0;">Total : [[${batchCount}]]</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <a th:href="@{/admin/attendance-list}" class="text-white text-decoration-none">
                            <div class="card bg-info px-2 py-3 cardhovers">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <span class="h4" style="margin-bottom: 0;"><i
                                            class="bi bi-person-check me-1"></i>Attendances</span>
                                    <p style="margin-bottom: 0;">Total : [[${attendanceCount}]]</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <a th:href="@{/admin/exam-list}" class="text-white text-decoration-none">
                            <div class="card bg-secondary px-2 py-3 cardhovers">
                                <div class="card-body d-flex align-items-center justify-content-between">
                                    <span class="h4" style="margin-bottom: 0;"><i
                                            class="bi bi-file-earmark-text me-2"></i>Exams</span>
                                    <p style="margin-bottom: 0;">Total : 10</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row ms-3 gx-2">
                    <div class="col-12 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <div id="container" class="mt-3"
                                        style="width: 1000px; height: 400px; margin: 0 auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script th:inline="javascript">
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'ACE Inspiration'
                    },
                    subtitle: {
                        text: 'Student - Current Open Batch'
                    },
                    xAxis: {
                        categories: [[${ batchName }]],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: 25,
                        title: {
                            text: 'Student Count'
                        }
                    },
                    tooltip: {
                        // headerFormat: '<h4 style="font-size:12px">{point.key}</h4><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} Students</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        // title: "Student Count",
                        name: 'Student Count',
                        data: [[${ studentCount }]]
                    }]
                });
            });
        </script>
    </div>
</body>

</html>