<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/AUTHENTICATED.html}">

<head>
    <meta charset="UTF-8">
    <title>Exam Create Form</title>
</head>

<body class="bg-light">
    <div layout:fragment="content">
        <form>
            <div class="container p-3" style="margin-top: 30px">
                <div class="col-md-12 p-3 bg-light shadow mb-2">
                    <div class="d-flex align-items-center justify-content-between p-4">
                        <h2>
                            <i class="bi bi-journal-code me-2"></i>Create Exam Form
                        </h2>
                        <input type="submit" class="btn btn-primary me-2" value="Create">
                    </div>

                    <div class="p-4 mb-2">
                        <div class="row">
                            <div class="form-group col-3">
                                <label for="title">Exam Title</label>
                                <input type="text" class="form-control" placeholder="Enter Exam Title" id="title">
                            </div>
                            <div class="form-group col-3">
                                <label for="start">Exam Start Time</label>
                                <input type="datetime-local" class="form-control" id="start">
                            </div>
                            <div class="form-group col-3">
                                <label for="end">Exam End Time</label>
                                <input type="datetime-local" class="form-control" id="end">
                            </div>
                            <div class="form-group col-3">
                                <label for="mark">Exam Full Point</label>
                                <input type="number" class="form-control" placeholder="Enter Exam Full Point" id="mark">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Create Exam -->
                <div class="row-md-12 col-sm-12 p-4 bg-light mb-2 shadow cardform" id="form"
                    style="position: rig; bottom: 20px;">
                    <div class="exam-body p-3">
                        <div class="col-12 mb-3 d-flex justify-content-between align-items-start">
                            <textarea class="form-control w-75" style="resize: none; height: 80px;"
                                placeholder="Enter Question Here.." id="question"></textarea>
                            <button class="btn btn-success me-2"><i class="bi bi-plus-circle"></i></button>
                        </div>

                        <div class="add-answer mt-3 w-25 d-flex align-items-center">
                            <input type="text" class="form-control me-2" placeholder="Enter Answer Here ...">
                            <button class="btn btn-success me-2">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                            <!-- <button class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </button> -->
                        </div>
                        <input type="text" class="form-control w-25 mt-3" placeholder="Enter correct answer">
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript">

        </script>
    </div>
</body>

</html>